#dynamic-plot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.plot-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plot-container {
    display: block;
    height: 500px;
}

#plot_enable {
    display: flex;
    flex-direction: column;
}

#plot_enable_table {
    margin: auto;
}

#plot_enable_table td {
    padding: 0.5em;
}
